<!-- Pagina que renderiza el historico de llamadas -->

<% include ./partials/header %>

<% include ./partials/navbar %>

    <div class="text-center">
      <h3>Historial</h3>
      <div class="container">
        <div class="row">
          <div class="col-md-17">
            <div class="">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Asunto</th>
                    <th>Cédula</th>
                    <th>Localidad</th>
                    <th>Colegio</th>
                    <th>Sede</th>
                    <th>Área</th>
                    <th>Teléfono</th>
                    <th>Horario</th>
                    <th>Dirección</th>
                    <th>Nota</th>
                    <th>Casos</th>
                    <th>Analista</th>
                  </tr>
                </thead>
                <% for(var i = 0; i < calls.length; i++) { %>
                <tbody>
                  <tr>
                    <td><%= calls[i].date %></td>
                    <td><%= calls[i].customer %></td>
                    <td><%= calls[i].topic %></td>
                    <td><%= calls[i].idcard %></td>
                    <td><%= calls[i].local %></td>
                    <td><%= calls[i].school %></td>
                    <td><%= calls[i].place %></td>
                    <td><%= calls[i].area %></td>
                    <td><%= calls[i].phone %></td>
                    <td><%= calls[i].schedule %></td>
                    <td><%= calls[i].address %></td>
                    <td><%= calls[i].note %></td>
                    <td><%= calls[i].caseid %></td>
                    <td><%= calls[i].user.nameuser %></td>
                  </tr>
                </tbody>
                <% } %>
              </table>
            </div>
              <br>
              <br>
              <div class="row">
                <!-- pagination -->
                <% if(pages > 0) { %> <!-- show pagination if there is pages -->
                  <nav class="mx-auto">
                    <ul class="pagination">
                      <!-- FIRST ITEM -->
                      <% if(current == 1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Primera</a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/history/1">Primera</a>
                        </li>
                      <% } %>
                      <!-- ITEMS  -->
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if(i !== 1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">...</a>
                        </li>
                      <% } %>
                      <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if(i == current) { %>
                          <li class="page-item active">
                            <a class="page-link" href="<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="/history/<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                           <li class="page-item disabled">
                             <a class="page-link" href="#">...</a>
                           </li>
                        <% } %>
                      <% } %>
                      <!-- LAST ITEM -->
                      <% if(current == pages) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">
                            Ultima
                          </a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/history/<%= pages %>">
                            Ultima
                          </a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
                <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% include ./partials/footer %>
