<!-- Pagina que se renderiza cuando se guarda una llamada y permite copiar los datos registrados -->

<% include ./partials/header %>

<% include ./partials/navbar %>
  <div class="container">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h3>Copiar datos</h3>
          <div class="container">
            <div class="form-group">
              <textarea class="form-control" id="bar" input type ="textarea" rows = "13" cols = "180">
Nombre: <%= qs.customer %>
Motivo: <%= qs.topic %>
Cedula: <%= qs.idcard %>
Localidad: <%= qs.local %>
Colegio: <%= qs.school %>
Sede: <%= qs.place %>
Area: <%= qs.area %>
Tel. Contacto: <%= qs.phone %>
Horario de atencion: <%= qs.schedule %>
Dirección: <%= qs.address %>
Nota: <%= qs.note %>
Casos: <%= qs.caseid %>
Agente: <%= user.nameuser%>
            </textarea>
          <button class="btn" data-clipboard-action="copy" data-clipboard-target="#bar">Copiar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
