<!-- Pagina que se renderiza cuando se guarda una llamada y permite copiar los datos registrados -->

<% include ./partials/header %>

<% include ./partials/navbar %>
  <div class="container">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h3>Copiar datos</h3>
          <div class="container">
            <div class="row">
              <div class="col-md-6 mt-4 card">
                <br>
                <textarea class="form-control" id="bar" input type ="textarea" rows = "14" cols = "13">
Nombre: <%= qs.customer %>
Asunto: <%= qs.topic %>
Cédula: <%= qs.idcard %>
Localidad: <%= qs.local %>
Colegio: <%= qs.school %>
Sede: <%= qs.place %>
Área: <%= qs.area %>
Tel. Contacto: <%= qs.phone %>
Horario de atención: <%= qs.schedule %>
Dirección: <%= qs.address %>
Nota: <%= qs.note %>
Analista: <%= user.nameuser%></textarea>
          <div class="">
            <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#bar">Copiar</button>
          </div>
          </div>
            <div class="col-md-6 mt-4 card">
              <br>
              <form class="form-inline" action="/updatecall" method="post">
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Nombre:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="customer" value="<%= qs.customer %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Asunto:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <textarea name="topic" class="form-control" rows="3" cols="20"><%= qs.topic %></textarea>
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Cédula:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="idcard" value="<%= qs.idcard %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Localidad:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="local" value="<%= qs.local %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Colegio:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="school" value="<%= qs.school %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Sede:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="place" value="<%= qs.place %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Area:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="area" value="<%= qs.area %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Tel. Contacto:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="phone" value="<%= qs.phone %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Horario:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="schedule" value="<%= qs.schedule %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Dirección:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="address" value="<%= qs.address %>">
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Nota:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <textarea name="note" class="form-control" rows="3" cols="20"><%= qs.note %></textarea>
                </div>
                <div class="form-group mb-2">
                  <input type="text" readonly class="form-control-plaintext" value="Casos:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" name="caseid" value="<%= qs.caseid %>">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="hidden" class="form-control" name="id" value="<%= qs.idcall %>">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
